
:root {
  --primary: #F1EFEB;
  --secondary: #333333;
  --sec-trans: #C1BFBC;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root, body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
}

.container {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.title-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 25px;

  cursor:pointer;
  transition: all 0.15s ease-in-out;
}

.title-content-h:hover {
  transform: scale(1.08);
}

.title {
  color: var(--secondary);
}

.title-proc {
  color: var(--sec-trans);
}

.control-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.cancel {
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  --size: 38px;
  width: var(--size);
  height: var(--size);
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.save-h:hover {
  opacity: 0.95;
  transform: scale(1.03);
}

.cancel:hover {
  opacity: 0.9;
  transform: scale(1.15);
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  --sides: 20px;
  padding: 10px;
  padding-left: var(--sides);
  padding-right: var(--sides);
  cursor: pointer;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;

  transition: all 0.1s ease-in-out;
}

.spin {
  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}